@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .select-sm-mis-1 {
        font-size: 0.8rem;
        line-height: 1rem;
        padding-top: 0.35rem;
        font-weight: 400;
    }
}

@layer utilities {
    .without-ring {
        @apply focus:ring-0 focus:ring-offset-0;
    }
}
/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

/* @layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    } */
    /* body {
        @apply text-white text-base font-ubuntu bg-backGround
    } */
/* } */

/* @layer components {
    .h1 {
        @apply text-5xl
    }
    .h2 {
        @apply text-3xl
    }
    .h3 {
        @apply text-2xl
    }
    .h4 {
        @apply text-xl
    }
    .subtitle-1 {
        @apply text-base font-medium
    }
    .subtitle-2 {
        @apply text-sm font-medium
    }
    .body-1 {
        @apply text-base
    }
    .body-2 {
        @apply text-sm
    }
    .button-1 {
        @apply text-base font-medium
    }
    .button-2 {
        @apply text-sm font-medium
    }
    .link-1 {
        @apply text-base
    }
    .link-2 {
        @apply text-sm
    }
    .container {
        @apply px-5 overflow-x-hidden relative w-full max-w-none
    }
    .btn-primary {
        @apply text-base font-medium text-white bg-primary py-[11px] px-5 rounded-lg text-center w-full flex justify-center duration-300 hover:bg-hover focus:bg-focused active:bg-active
    }
    .btn-danger {
        @apply text-base font-medium text-white bg-danger py-[11px] px-5 rounded-lg text-center w-full flex justify-center duration-300 hover:bg-dangerEasy focus:bg-dangerEasy active:bg-danger
    }
    .btn-base {
        @apply text-base font-medium text-white bg-gray py-2 px-5 rounded-lg text-center flex justify-center duration-300 hover:bg-blackSecond focus:bg-blackSecond active:bg-backGround
    }
    /* .default-checkbox {
        @apply w-5 h-5 appearance-none rounded border duration-300 default:ring-2 border-primary indeterminate:bg-white checked:bg-transparent checked:border checked:border-primary checked:bg-primary
    } 
}*/

/* .react-confirm-alert-body {
    box-shadow: none;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 0;
}
::-webkit-scrollbar:horizontal {
    height: 0;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
    box-shadow: none;
}

.capitalize-first::first-letter {
    text-transform: uppercase;
} */
